@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

:root {
    --White: hsl(0, 0%, 100%);
    --Grey: hsl(0, 0%, 50%);
    --Black: hsl(0, 0%, 7%);
    --Yellow: hsl(47, 88%, 63%);
    --fw-normal: 500;
    --fw-bold: 800;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

img{
    display: block;
}

body{
    background-color: var(--Yellow);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    text-align: left;
    font-family: 'Figtree', sans-serif;
    font-size: 1.6rem;
}

.card{
    background-color: var(--White);
    border: 1px solid var(--Black);
    max-width: 38.3rem;
    border-radius: 1.8rem;
    padding: 2.3rem;
    margin: 2rem;
    box-shadow: 8px 8px 0px var(--Black);
}

.card .img-container img{
    max-width: 100%;
    border-radius: 1rem;
}

.information{
    margin: 2.5rem 0 1rem;
}

.information .tag{
    background-color: var(--Yellow);
    font-size: 1.5rem;
    font-weight: 800;
    padding: 0.5rem 1rem;
    border-radius: 0.2rem;
}

.information .dates{
    font-size: 1.4rem;
    margin: 2rem 0;
}

.information h1{
    font-size: 2.4rem;
}

.information h1:hover{
    color: var(--Yellow);
    cursor: pointer;
}

.card:hover {
    box-shadow: 15px 15px 0px var(--Black);
}

.information .data{
    margin: 2rem 0;
    line-height: 2.2rem;
    color: var(--Grey);
}

.profile{
    display: flex;
    justify-content:flex-start;
    align-items: center;
}

.profile .avatar img{
    max-width: 100%;
    width: 34px;
    height: 35px;
}

.profile .name{
    font-weight: var(--fw-bold);
    padding: 0 1rem;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}