@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

:root {
    --Cyan: hsl(179, 62%, 43%);
    --Bright_Yellow: hsl(71, 73%, 54%);
    --Light_Gray: hsl(204, 43%, 93%);
    --Grayish_Blue: hsl(218, 22%, 67%);

    --fw_karla_normal: 400;
    --fw_karla_bold: 700;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style-type: none;
}

body {
    font-family: 'Karla', sans-serif;
    font-size: 16px;
    color: white;
    background-color: var(--Light_Gray);
    min-height: 100vh;
    display: grid;
    place-content: center;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    margin: 2rem;
    border-radius: 0.3rem;
    overflow: hidden;
    max-width: 39rem;
    box-shadow: 0 5px 5px 8px hsla(0, 0%, 0%, 0.03);
}

/* Join our community */

.join {
    padding: 1.8rem 1.5rem;
    background-color: white;
}

.title1 {
    font-size: 1.22rem;
    color: var(--Cyan);
}

.summ1 {
    color: var(--Bright_Yellow);
    font-weight: var(--fw_karla_bold);
    padding: 1.6rem 0 1.2rem;
}

.desc1 {
    font-size: 0.86rem;
    line-height: 1.9;
    color: var(--Grayish_Blue);
}

/* Monthly Subscription */

.subscription {
    padding: 1.5rem;
    background-color: var(--Cyan);
}

.title2 {
    font-size: 1.22rem;
    letter-spacing: -1px;
}

.price {
    padding: 1rem 0 2rem;
}

.summ2 {
    font-size: 2rem;
    font-weight: var(--fw_karla_bold);
    display: flex;
    align-items: center;
    gap: 0.6rem;
}

.summ2 span {
    font-size: 1rem;
    font-weight: var(--fw_karla_normal);
    color: hsl(204, 30%, 80%);
}

.desc2 {
    padding-top: 0.4rem;
}

.btn {
    width: 100%;
    border: none;
    font-family: inherit;
    font-weight: var(--fw_karla_bold);
    color: inherit;
    padding: 1rem 0;
    border-radius: 0.3rem;
    background-color: var(--Bright_Yellow);
    box-shadow: 1px 2px 5px hsla(0, 0%, 0%, 0.3);
}

.btn:hover{
    cursor: pointer;
    box-shadow: inset 1px 2px 5px hsla(0, 0%, 0%, 0.3);
}

/* Why Us */

.why {
    padding: 1.5rem;
    background-color: hsl(179, 47%, 52%);
}

.title3 {
    font-size: 1.2rem;
    letter-spacing: -1px;
}

.desc3 {
    padding-top: 1.2rem;
    font-size: 0.8rem;
    letter-spacing: 0.4px;
    line-height: 1.56;
    color: hsl(204, 30%, 80%);
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media only screen and (min-width: 768px) {
    .container {
        grid-template-columns: repeat(2, 1fr);
    }

    .join {
        grid-column: 1/3;
    }
}